<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/ProyectoFundamentos/views/Admin/Style/main.css">
</head>
<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>
    
    <div class="barra-lateral">
        <div>
            <span>Administrador</span>
            <div class="nombre-pagina">
                <ion-icon id="cloud" name="reader-outline"></ion-icon>
                <span>Hospital</span>
            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a id="citas" href="#">
                        <ion-icon name="checkbox-outline"></ion-icon>
                        <span>Citas</span>
                    </a>
                </li>
                <li>
                    <a id="CitasDoctor" href="#">
                        <ion-icon name="id-card-outline"></ion-icon>
                        <span>Citas de Doctores</span>
                    </a>
                </li>
                <li>
                    <a id="CitasDoctor" href="#">
                        <ion-icon name="people-outline"></ion-icon>
                        <span>Citas de Pacientes</span>
                    </a>
                </li>
                <br>
                <br>
                <br>
                <li>
                    <a id="CitasDoctor" href="#">
                        <ion-icon name="walk-outline"></ion-icon>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Drak Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <main id="main-containerEncargado">
        
    </main>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/ProyectoFundamentos/views/Admin/main.js"></script>
    <script src="/ProyectoFundamentos/js/jquery.js"></script>
    <script src="/ProyectoFundamentos/js/router.js"></script>
</body>
</html>