.mensaje-container {
    position: fixed;
    top: 20px;
    transform: translateX(-5%);
    display: flex;
    align-items: center;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    background-color: #ffffff;

    right: -350px; /* Agrega esta propiedad para que inicialmente esté fuera del viewport */
    /* Agrega las siguientes propiedades para la animación */
    transition: right 0.5s ease-in-out;
}

.mensaje-container .icon-container {
    margin-right: 10px;
}

.mensaje-container .icon-container i {
    font-size: 24px;
}

.mensaje-container .mensaje {
    flex: 1;
    font-size: 16px;
    color: #333333;
}

.mensaje-info {
    border-left: 5px solid #4CAF50;
}

.mensaje-error {
    border-left: 5px solid #FF3D00;
}

@keyframes slideIn {
    0% {
        right: -350px; /* Define la posición inicial fuera del viewport */
    }
    100% {
        right: 20px; /* Define la posición final centrada */
    }
}

@keyframes slideOut {
    0% {
        right: 20px; /* Define la posición inicial centrada */
    }
    100% {
        right: -430px; /* Define la posición final fuera del viewport */
    }
}

.mensaje-container.slide-in {
    animation: slideIn 0.5s forwards;
}

.mensaje-container.slide-out {
    animation: slideOut 0.5s forwards;
}